.btn {
  display: inline-block;
  padding: 1rem 1.25rem;

  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1.5;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  border: none;
  border-radius: var(--border-radius); 
  transition: ease-in-out 200ms;
}

.btn-block {
  display: block;
  width: 100%;
}
